{#
 # Image lightbox partial (HTML only).
 # CSS is in admin-common.css, JS must be added per-template.
 #}
<div class="image-lightbox" id="imageLightbox">
    <span class="image-lightbox-close">&times;</span>
    <img src="" alt="Zoom" id="lightboxImage">
</div>
